user_likely_trips.json
user_loc.json
user_poi_matches.json
user_poi_stays.json
user_data.json
Phase 2 - Information Gathering/Code Libraries/user_ids.json

.DS_Store

.ipynb_checkpoints/

2024 - 2025 KGE Project Report Template.zip

2024___2025_KGE_Project_Report_Template.pdf
Phase 5 - Data Definition/rdfs/locations_stream-RDF.ttl
Phase 5 - Data Definition/rdfs/stays-RDF.ttl
Phase 5 - Data Definition/rdfs/trip_jurney-RDF.ttl
Phase 5 - Data Definition/rdfs/user_ids-RDF.ttl
Phase 5 - Data Definition/rdfs/WSP1WS8-activity_stream.ttl
Phase 5 - Data Definition/rdfs/WSP1WS226545-mood_stream.ttl
